@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  background-color: #161616;
  color: #fdfdfd;
}
h2,
h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #161616 !important;
}
/*Logo*/
.logo {
  font-size: 1.5rem;
  font-weight: lighter;
  text-decoration: none;
  color: #fdfdfd;
  cursor: pointer;
}
/*btn degradado*/
.btn {
  text-decoration: none;
  font-size: 1.2rem;
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  outline: none;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: -6px 6px 20px 0px rgba(74, 74, 74, 1);
  -moz-box-shadow: -6px 6px 20px 0px rgba(74, 74, 74, 1);
  box-shadow: -6px 6px 20px 0px rgba(74, 74, 74, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 202, 42, 1) 0%,
    rgba(255, 166, 16, 1) 35%,
    rgba(245, 129, 10, 1) 69%,
    rgba(246, 41, 12, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 202, 42, 1)),
    color-stop(35%, rgba(255, 166, 16, 1)),
    color-stop(69%, rgba(245, 129, 10, 1)),
    color-stop(100%, rgba(246, 41, 12, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 202, 42, 1) 0%,
    rgba(255, 166, 16, 1) 35%,
    rgba(245, 129, 10, 1) 69%,
    rgba(246, 41, 12, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 202, 42, 1) 0%,
    rgba(255, 166, 16, 1) 35%,
    rgba(245, 129, 10, 1) 69%,
    rgba(246, 41, 12, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 202, 42, 1) 0%,
    rgba(255, 166, 16, 1) 35%,
    rgba(245, 129, 10, 1) 69%,
    rgba(246, 41, 12, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 202, 42, 1) 0%,
    rgba(255, 166, 16, 1) 35%,
    rgba(245, 129, 10, 1) 69%,
    rgba(246, 41, 12, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca2a', endColorstr='#f6290c', GradientType=1 );
}

.navPrincipal {
  display: flex;
  justify-content: space-between;
}
.btnNav {
  margin: 1rem;
}
.contLogo {
  margin: 1.1rem 0.8rem;
}
.containerHero {
  display: flex;
  margin-top: 4rem;
}
.Contletras {
  flex: 1;
  justify-content: center;
}
.contEmoti {
  flex: 2;
}
.letras {
  color: #ffca2a !important;
  font-size: 3rem;
  font-weight: bold;

  text-align: center;
}

.footer {
  text-align: center;

  margin: 0.5rem;
}

.pc {
  display: block;
}
.movil {
  display: none;
}
.contBtns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
img {
  max-width: 100%;
}
.btn2 {
  text-decoration: none;
  font-size: 1.2rem;
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  outline: none;
  color: rgba(245, 129, 10, 1);
  margin: 0;
}
.contServicio {
  display: flex;
  margin: 1rem;
}
.containerSer {
  flex: 1;
  margin: 10px;
}
.contSection {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem 0;
  border-radius: 5px;
  margin: 4rem;
  color: #161616 !important;
}
.pServicio {
  margin: 1rem 4rem;
}

/*estislos para Telefono*/
@media only screen and (max-width: 720px) {
  .pc {
    display: none;
  }
  .movil {
    display: block;
    width: 100%;
  }

  .containerHero {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin-top: 1rem;
  }
  .letras {
    color: #ffca2a;
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem;
  }
  .Contletras {
    flex: 1;
  }
  .contEmoti {
    flex: 1;
  }

  .parrafo {
    font-size: 1rem;
  }
  .btnLogin {
    margin-left: 0;
  }
  .contServicio {
    display: block;
    margin: 1rem;
  }
  .contSection {
    margin: 1rem;
  }
  .containerSer {
    margin: 2rem 0;
  }
  .bg {
    background-color: #cecece;
    padding: 1rem 0.5rem;
    border-radius: 10px;
  }
  .pServicio {
    margin: 1rem 0rem;
  }
}
